/* Підключення шрифтів з Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Скидання стилів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f8fd;
    color: #434455;
    line-height: 1.6;
}

header,
footer {
    background-color: #fff;
    padding: 20px 0;
}

/* Навігація та адреса */
header nav,
header address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

header nav ul,
header address ul {
    list-style: none;
}

header nav ul li,
header address ul li {
    display: inline;
    margin-right: 20px;
}

header nav a,
header address a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
}

header address a:hover,
header nav a:hover {
    color: #766cf1;
}

/* Стилі для фільтру */
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.filter-btn {
    background: #e7e9fc;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 400;
    color: #2e2f42;
}

.filter-btn.active,
.filter-btn:hover {
    background: #2e2f42;
    color: white;
}

/* Стилі для карток проектів */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 10%;
}

.project-card {
    background: #fff;
    border: 1px solid #e7e9fc;
    width: 360px;
    margin-bottom: 20px;
}

.project-card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.card-content p {
    font-size: 16px;
    color: #434455;
}

/* Стилі для футера */
footer {
    text-align: center;
    padding: 20px 0;
}

.footer-content a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 700;
}

.footer-content p {
    color: #767676;
    font-size: 14px;
}
